#scroll {
  height: 100vh;

  overflow: auto;
}

.body {
  height: 100vh;
}

<<<<<<< HEAD
.colonne{
  background-color: black;
}

=======
>>>>>>> 6b63a18b70990e3072cf301a31f3a1b980b881b7
.scrollContainer {
  height: 100%;
}

.row {
  height: 100%;
}

#bg-image {
  background-color: yellow;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
<<<<<<< HEAD

/*Barra di scorrimento in stile nero/grigio.
  Modifica tutte le barre di scorrimento della pagina.
  I :: significa che stiamo selezionando una pseudo-classe,
  essendo la scroll bar un elemento del browaer.
  In questo modifichiamo Chrome e Safari, altrimenti bisogna usare un'aggiunta esterna.*/


::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background-color: #000000; /* Colore dello sfondo della traccia */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Colore del cursore della scrollbar */
  border-radius: 6px; /* Bordi arrotondati del cursore */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Colore del cursore al passaggio del mouse */
}

/*STILE VOLUME IN BASSO A DESTRA*/


  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: none;
    background: #ddd; 
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }

  input[type="range"] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
=======
>>>>>>> 6b63a18b70990e3072cf301a31f3a1b980b881b7
